.bar {
    fill: rgb(199, 233, 180);
}

.bar:hover {
    stroke: white;
    stroke-width: 1;
}

#dropdown{
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 50px;
}

#x-axis-bar path {
  fill: white;
  stroke: white;
  shape-rendering: crispEdges;
}

#x-axis-bar path {
  display: none;
}
