/* html, body {
    margin: 0;
    height: 100%;
} */
.bar {
    fill: rgb(12, 44, 132);
}

.bar:hover {
    /* fill: #21f5ff */
    stroke: white;
    stroke-width: 1;
}

.test {
    fill: #ffd35f;
    font-family: sans-serif
}

#g-bar{
  height: 100%;
}

#dropdown{
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 50px;
}

/*.text {*/
/*fill: #3937ff;*/
/*font-family: sans-serif*/
/*}*/
