h1 {
  text-align: center;
}

div {
  width: 100%;
}

#pictogram {
  width: 50%;
  height: 80px;
  float: right;
}

#dropdown{
  width: 10%
  float: left;
}

#hbar {
  float:left;
  width:20%
}

#map {
    width: 70%;
    float: right;
}

/*#sliderDiv  {
   margin:10px;
   margin-top:30px;
   height:15px;
   width:300px;
}*/

#picto-svg {
   overflow:none;
   padding:10px;
   float:left;
   width:400px;
   height:50px;
}*/

text    {
   fill:#bb6d82;
   text-anchor:left;
   font-size:12px;
   font-family:sans-serif,Helvetica,Arial;
   font-weight:bold;
}

.iconPlain  {
   fill:#a7a59b;
}

.iconSelected  {
   fill:#bb6d82;
}

/*rect    {
   fill:#fff1e0;
}*/


/* css for slider */
.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
