.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x path {
	display: none;
}
.toolTip {
	position: absolute;
  display: none;
  width: 65px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 10px;
  text-align: center;
}

body {
	background-size: 100%;
}

#selected-hbar {
  stroke-width: 2;
  stroke: black;
  opacity: 1;
}
