path.unit:hover {
    stroke: white;
    stroke-width: 2;
}

text {
   text-anchor:left;
   font-size:12px;
   font-family:sans-serif,Helvetica,Arial;
}

.legend-bg {
  opacity: 0;
  color:  white;
  margin-bottom: 5px;
}

#map {
    width: 70%;
    float: right;
    height: 400px;
}

#slider-div {
  display:  block;
}
