.ticks {
  font: 10px sans-serif;
}

.slider-tick {
  color:white;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: white;
  stroke-opacity: 0.3;
  stroke-width: 8px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: rgb(8, 29, 88);
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
